/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--backround-img);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--backround-color);
  min-width: 375px;
}

.decorated-zone::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-inline-end: 1px solid var(--color-glowing);
  border-block-start: 1px solid var(--color-glowing);
}

.decorated-zone::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  width: 25.04px;
  height: 25px;
  border-inline-start: 1px solid var(--color-glowing);
  border-block-end: 1px solid var(--color-glowing);
}
.header {
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 668px;
}

.header .decorated-zone::before {
  content: "";
  top: 10px;
  right: 10px;
}

.header .decorated-zone::after {
  content: "";
  top: 635px;
  left: 10px;
}

.footer .decorated-zone::before {
  content: "";
  top: 52px;
  right: 10px;
}

.footer .decorated-zone::after {
  content: "";
  top: 670px;
  left: 10px;
}

.title-decor {
  background: var(--backround-title-color);
}

.text-accent {
  color: var(--color-glowing);
}

.title-decor__accent {
  color: var(--color-title);
}

.indent {
  padding: 0px 10px;
}

.link_shadow {
  text-shadow: 2px 1px 0 var(--backround-title-color);
  text-decoration: none;
}

h2,
h3,
h4 {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
}

.paragraph {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--color-text);
}

.paragraph-normal {
  font-family: IBM Plex Mono, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.mrg-down {
  margin-bottom: 10px;
}

.header__theme-menu {
  padding-top: var(--menu-padding);
  padding-top: 20vw;
}

.header__theme-menu-list {
  display: grid;
  justify-self: end;
  justify-items: stretch;
  gap: 10px;
  margin-inline-end: 10px;
  font-family: IBM Plex Mono, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-glowing);
}

.header__theme-menu-item {
  justify-self: end;
}

.header__decoration {
  position: absolute;
  top: 10px;
  right: 27px;
}

.header__decoration-text::after {
  content: "";
  display: var(--display);
  width: 9px;
  height: 9px;
  background: #ff0070;
  box-shadow: 0px 0px 4px 2px #ff0070;
  position: absolute;
  top: 8px;
  left: 42px;
  border-radius: 50%;
}

.header__section-block {
  margin-bottom: 28.2667vw;
  background-color: var(--backround-title-color);
}

.header__decoration-text {
  display: var(--display);
  text-transform: uppercase;
  font-family: IBM Plex Mono, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-glowing);
  margin-right: 9px;
}

.header__theme-menu-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0px 13px;
  width: 70px;
  height: 26px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.header__theme-menu-button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-glowing);
  box-sizing: border-box;
  opacity: 0;
}

.theme-light .header__theme-menu-button[data-theme="light"]::after,
.theme-dark .header__theme-menu-button[data-theme="dark"]::after {
  content: "";
  opacity: 1;
}

.theme-dark .header__theme-menu-button_type_light:hover::after {
  opacity: 1;
  border-color: var(--color-glowing);
}

.theme-light .header__theme-menu-button_type_dark:hover::after {
  opacity: 1;
  border-color: var(--color-glowing);
}

.theme-dark .header__theme-menu-button_type_light:focus::after {
  border-top: none;
  border-left: none;
  border-right: none;
}

.theme-light .header__theme-menu-button_type_dark:focus::after {
  border-top: none;
  border-left: none;
  border-right: none;
}

.header__section {
  display: grid;
  grid-template-rows: 2fr;
}

.header__section-text {
  font-family: IBM Plex Mono, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: var(--color-title);
}

.header__title {
  font-family: IBM Plex Mono, sans-serif;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--color-shadow);
  text-shadow: 4px 4px 0 var(--backround-title-color);
  margin-top: 67px;
  margin-bottom: 55px;
}

.concentration__explanation {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.concentration__decreased-concentration {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.concentrate__better {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-bottom: 50px;
}

.content-wrapper {
  display: grid;
  gap: 20px;
}
/* .section__image {
  max-width: 768px;
} */

.section__image-block {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.section__image-all {
  width: 100%;
  height: auto;
  max-width: 100%;
  background-position: center;
  object-fit: cover;
}

.footer {
  height: 100vw;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center; 
  font-family: IBM Plex Mono, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  color: var(--color-shadow);
  text-shadow: 2px 2px 0px var(--backround-title-color);
  padding-top: 80px;
  position: relative;
  width: 100%;
}

.link_shadow:hover {
  text-decoration: underline;
}

.link_shadow:focus {
  outline: 1px solid var(--color-text);
  text-decoration: none;
}

@media (width >= 768px) {
  .page {
    min-width: 768px;
  }

  .header .decorated-zone::before {
    content: "";
    right: 20px;
    top: 10px;
  }

  .header .decorated-zone::after {
    content: "";
    top: 970px;
    left: 20px;
  }

  .footer .decorated-zone::before {
    content: "";
    top: 80px;
    right: 20px;
  }

  .footer .decorated-zone::after {
    content: "";
    top: 1040px; 
    left: 20px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__decoration {
    position: absolute;
    right: 40px;
  }

  .header__theme-menu {
    padding-top: 180px;
    padding-right: 10px;
    margin-top: 10px;
  }

  .header__section {
    padding-top: 110px;
  }

  .header__section-block {
    margin-left: 376px;
    margin-top: 106px;
    margin-bottom: 243px;
    min-width: 364px;
    margin-right: 10px;
  }

  .main {
    padding-left: 10px;
  }

  .concentration__explanation {
    display: grid;
    /* grid-template-columns: 230px 487px; */
    grid-template-columns: minmax(230px, 1fr) 2fr;
    padding-right: 19px;
    gap: 20px 10px;
  }

  .concentration__explanation-heading {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-right: 10px;
  }

  .concentration__explanation-card {
    margin-left: 5px;
  }

  .concentration__decreased-concentration {
    margin-top: 80px;
    min-width: 729px;
    padding-right: 19px;
  }

  .media-query-spacing {
    width: 236px;
  }

  .concentrate__better {
    display: grid;
    /* grid-template-columns: 236px 472px; */
    grid-template-columns: minmax(236px, 1fr) 2fr;
    margin-top: 80px;
    padding-right: 18px;
  }

  .content-wrapper {
    display: grid;
    gap: 20px;
  }

  .section__image {
    margin-top: 80px;
    min-width: 728px;
    padding-right: 18px;
  }

  .section__image-block {
    margin-top: 20px;
    display: grid;
    /* grid-template-columns: 229px 230px 229px;
    grid-template-rows: 192px 230px 318px; */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .section__image-sunset {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 479px;
    height: 192px;
  }

  .section__image-ice-cream {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    min-width: 229px;
    height: 442px;
  }

  .section__image-tape {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    min-width: 229px;
    height: 568px;
  }

  .section__image-books {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    min-width: 230px;
    height: 230px;
  }

  .section__image-street {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    min-width: 479px;
    height: 318px;
  }

  .footer {
    min-height: 1024px;
    margin-left: 0vw;
    padding-top: 120px;
  }

}

@media (width >= 1024px) {
  .page {
    max-width: 1024px;
  }

  .header .decorated-zone::before {
    top: 10px;
  }

  .header .decorated-zone::after {
    left: 20px;
    top: 715px;
  }

  .footer .decorated-zone::before {
    content: "";
    top: 80px;
    right: 19px;
  }

  .footer .decorated-zone::after {
    top: 785px;
    bottom: 10px;
  }

  .header {
    width: 100%;
  }

  .header__section {
    margin-left: 0px;
    padding-top: 0px;
  }

  .header__theme-menu {
    padding-top: 10px;
    padding-bottom: 275px;
    padding-right: 380px;
  }
  .header__theme-menu-list {
    display: grid;
    grid-template-columns: repeat(3, 44px);
    gap: 38px;
  }

  .header__title {
    margin-top: 0px;
    margin-bottom: 114px;
  }

  .header__section-block {
    justify-self: end;
    width: 491px;
    margin-top: 2px;
    margin-right: 10px;
    margin-bottom: 80px;
  }

  .main {
  padding-top: 112px;
  width: 100%;
  margin-left: 0px;
  padding-left: 10px;
  }

  .concentration__explanation {
    display: grid;
    /* grid-template-columns: 315px 660px; */
    grid-template-columns: minmax(315px, 1fr) 2fr;
    gap: 20px 10px;
  }

  .concentration__explanation-card {
    margin-left: 0px;
  }

  .concentration__decreased-concentration {
    display: grid;
    grid-template-columns: repeat(3, 315px);
    grid-template-rows: auto 1fr;
    gap: 20px;
    margin-bottom: 50px;
  }

  .concentration__decreased-heading {
    width: 315px;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .concentrate__better {
    grid-template-columns: 315px 649px;
    
  }

  .section__image-text {
    width: 984px;
  }

  .section__image-block {
    display: grid;
    grid-template-columns: 315px 315px 314px;
    grid-template-rows: 260px 315px 433px;
    gap: 20px;
  }

  .section__image-sunset {
    width: 650px;
    height: 260px;
  }

  .section__image-ice-cream {
    width: 314px;
    height: 595px;
  }

  .section__image-tape {
    width: 315px;
    height: 768px;
  }

  .section__image-books {
    width: 315px;
    height: 315px;
  }

  .section__image-street {
    width: 649px;
    height: 433px;
  }

  .footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    width: 100%;
    height: 768px;
    min-height: 768px;
    max-height: 768px;
    padding-bottom: 250px;
    max-inline-size: 1024px;
    padding-top: 375px;
  }
}
